@page
@model Bigfoot.Pages.Team.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Sightings</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Sightings.State" class="control-label"></label>
                <input asp-for="Sightings.State" class="form-control" />
                <span asp-validation-for="Sightings.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sightings.Class" class="control-label"></label>
                <input asp-for="Sightings.Class" class="form-control" />
                <span asp-validation-for="Sightings.Class" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sightings.Description" class="control-label"></label>
                <input asp-for="Sightings.Description" class="form-control" />
                <span asp-validation-for="Sightings.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sightings.Location" class="control-label"></label>
                <input asp-for="Sightings.Location" class="form-control" />
                <span asp-validation-for="Sightings.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sightings.Month" class="control-label"></label>
                <input asp-for="Sightings.Month" class="form-control" />
                <span asp-validation-for="Sightings.Month" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sightings.Year" class="control-label"></label>
                <input asp-for="Sightings.Year" class="form-control" />
                <span asp-validation-for="Sightings.Year" class="text-danger"></span>
            </div>
@*            <div class="form-group">
                <label asp-for="Sightings.Photo" class="control-label"></label>
                <input asp-for="Sightings.Photo" class="form-control" />
                <span asp-validation-for="Sightings.Photo" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
