@page
@model Bigfoot.Pages.Team.EditModel

@{
    ViewData["Title"] = "Edit";
    //var photoPath = "~/images/" + (Model.Sightings.PhotoPath ?? "noimage.jpg");
}

<h1>Edit</h1>

<h4>Sightings</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Sightings.ID" />
            <div class="form-group">
                <label asp-for="Sightings.State" class="control-label"></label>
                <input asp-for="Sightings.State" class="form-control" />
                <span asp-validation-for="Sightings.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sightings.Class" class="control-label"></label>
                <input asp-for="Sightings.Class" class="form-control" />
                <span asp-validation-for="Sightings.Class" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sightings.Description" class="control-label"></label>
                <input asp-for="Sightings.Description" class="form-control" />
                <span asp-validation-for="Sightings.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sightings.Location" class="control-label"></label>
                <input asp-for="Sightings.Location" class="form-control" />
                <span asp-validation-for="Sightings.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sightings.Month" class="control-label"></label>
                <input asp-for="Sightings.Month" class="form-control" />
                <span asp-validation-for="Sightings.Month" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sightings.Year" class="control-label"></label>
                <input asp-for="Sightings.Year" class="form-control" />
                <span asp-validation-for="Sightings.Year" class="text-danger"></span>
            </div>

@*            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="Photo" class="custom-file-input form-control" />
                    <label class="custom-file-label">Upload Photo</label>
                </div>
            </div>

            <div class="form-group">
                <img class="imageThumbnail" src="@photoPath" asp-append-version="true"/>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>


@*                <script>
                    $(document).ready(function () {
                        $('.custom-file-input').on("change", function () {
                            var fileName = $(this).val().split("\\").pop();
                            $(this).next('.custom-file-label').html(fileName);
                        });
                    });
                </script>
            }*@
        </form>
    </div>
</div>
 @section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
 }
<div>
    <a asp-page="./Index">Back to List</a>
</div>


