@page
@model Bigfoot.Pages.Team.UnitedStatesModel

@section head{
    <link href="@Url.Content("~/css/index.css")" rel="stylesheet" type="text/css" />
    <style type="text/css">
        body {
            background-image: url("/images/Pine_BG_01.jpg");
            width: auto;
            height: auto;
            margin: 0;
        }
    </style>
}


@{
    ViewData["Title"] = "UnitedStates";
}

<h1>UnitedStates</h1>
<h2>BigFoot Sightings per State</h2>
<div id="bigfoot">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.charts.load('current', {
            callback: drawRegionsMap,
            'packages': ['geochart'],
            'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
        });

        google.charts.setOnLoadCallback(drawRegionsMap);

        function drawRegionsMap() {
            var data = google.visualization.arrayToDataTable([
                ['State', 'Sightings'],
                ['Alabama', 101],
                ['Alaska', 21],
                ['Arizona', 85],
                ['Arkansas', 110],
                ['California', 460],
                ['Colorado', 130],
                ['Connecticut', 21],
                ['Delaware', 5],
                ['Florida', 337],
                ['Georgia', 139],
                ['Hawaii', 0],
                ['Idaho', 103],
                ['Illinois', 302],
                ['Indiana', 82],
                ['Iowa', 76],
                ['Kansas', 49],
                ['Kentucky', 115],
                ['Louisiana', 44],
                ['Maine', 20],
                ['Maryland', 35],
                ['Massachusetts', 37],
                ['Michigan', 225],
                ['Minnesota', 76],
                ['Mississippi', 24],
                ['Missouri', 166],
                ['Montana', 53],
                ['Nebraska', 15],
                ['Nevada', 9],
                ['New Hampshire', 17],
                ['New Jersey', 75],
                ['New Mexico', 43],
                ['New York', 120],
                ['North Carolina', 106],
                ['North Dakota', 6],
                ['Ohio', 318],
                ['Oklahoma', 111],
                ['Oregon', 257],
                ['Pennsylvania', 125],
                ['Rhode Island', 5],
                ['South Carolina', 57],
                ['South Dakota', 19],
                ['Tennessee', 104],
                ['Texas', 253],
                ['Utah', 73],
                ['Vermont', 10],
                ['Virginia', 85],
                ['Washington', 708],
                ['West Virginia', 106],
                ['Wisconsin', 105],
                ['Wyoming', 28],
                ['Blank',0]

            ]);

            var view = new google.visualization.DataView(data);

            var options = {
                colorAxis: { colors: ['lightyellow', 'green'] },
                backgroundColor: 'skyblue',
                //datalessRegionColor:'lighttan',
                //defaultColor: 'darkgreen',
                width: 1000,
                height: 800,
                region: "US",
                resolution: "provinces"
            };

            var chart = new google.visualization.GeoChart(document.getElementById('bigfoot'));
            google.visualization.events.addListener(chart, 'select', myClickHandler);
            chart.draw(data, options);

            function myClickHandler() {
                var selection = chart.getSelection();

                if (selection.length > 0) {
                    var link = data.getValue(selection[0].row, 0);
                    console.log(link)
                    if (link == "Alaska"){
                        window.open(link, '_blank');
                    }
                    else if (link == "Michigan")
                    {
                        window.open(link, '_blank');
                    }
                    else if (link == "Florida") {
                        window.open(link, '_blank');
                    }
                    else if (link == "California") {
                        window.open(link, '_blank');
                    }
                    else if (link == "Washington") {
                        window.open(link, '_blank');
                    }
                    else 
                    {
                        window.open('Blank', '_blank');
                    }
                }
            }

        };
    </script>
</div>
