@page
@model Bigfoot.Pages.Team.WorldMapModel

@section head{
    <link href="@Url.Content("~/css/index.css")" rel="stylesheet" type="text/css" />
    <style type="text/css">
        body {
            background-image: url("/images/Pine_BG_01.jpg");
            width: auto;
            height: auto;
            margin: 0;
        }
    </style>
}

@{
    ViewData["Title"] = "Bigfoot";
}

<h1>Bigfoot</h1>

<div>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load('current', {
                'packages': ['geochart'],
            });
            google.charts.setOnLoadCallback(drawRegionsMap);

            function drawRegionsMap() {
                var data = google.visualization.arrayToDataTable([
                    ['Country', 'Sightings'],
                    ['United States', 5485],
                    ['Brazil', 32],
                    ['Canada', 2118],
                    ['Italy', 1],
                    ['France', 6],
                    ['RU', 766]
                ]);
            
                var options = {};

                var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

                chart.draw(data, options);
            }
        </script>
        <div id="regions_div" style="width: 900px; height: 500px;"></div>
</div>

