body {
}

.btn {
    font-size: 20px;
    padding:4px 28px;
    border-radius: 4px;
    color: black;
    background-color: lightblue;
    text-align: center;
    text-decoration: none;
}

.btn:hover {
    border: 1px solid #808080;
    background-color:burlywood;
    color:palevioletred;
    cursor: pointer;
}

.btn2 {
    font-size: 16px;
    padding: 4px 18px;
    border-radius: 4px;
    color: black;
    background-color: lightblue;
    text-align: center;
    text-decoration: none;
    margin:2px;
}

.btn2:hover {
    background-color: burlywood;
    color: palevioletred;
    cursor: pointer;
}