@font-face {
    font-family: 'Swabby';
    src: url('../fonts/CaptainSwabbyNF.ttf');
}

@font-face {
    font-family: 'Feet';
    src: url('../fonts/FTSCanblDemo.TTF');
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.imageThumbnail{
    height: 200px;
    width: auto;
}