@page
@model IndexModel
@section head{
    <style type="text/css">
        body {
            background-image: url("/images/Pine_BG_03.jpg");
            background-repeat:no-repeat;
            background-size:contain;
            background-position:center;
            background-color:black;
            width: auto;
            height: auto;
            margin: 0;
        }
    </style>
}
@{
    ViewData["Title"] = "Home page";
}
<div>
    <div class="text-center">
        <p style="margin-bottom:-4%; margin-top:-3%; font-family:'feet'; font-size:150px; color:black;">BIGFOOT</p>
        <h5>Tracking the legendary beast</h5>
        <div style="padding-top:2%;">
            <img src="/images/bigfoot_art_01.png" alt="foot big" style="width:758px;  height:565px; " >
        </div>
    </div>
</div>
